<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>visa</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>{4,1}</string>
		</array>
		<key>lengths</key>
		<array>
			<string>{16,1}</string>
		</array>
		<key>format</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
	</dict>
	<key>mastercard</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>{222,50}</string>
			<string>{51,5}</string>
		</array>
		<key>lengths</key>
		<array>
			<string>{16,1}</string>
		</array>
		<key>format</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
	</dict>
	<key>diners</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>{300,6}</string>
			<string>{38,2}</string>
			<string>{2014,1}</string>
			<string>{2149,1}</string>
			<string>{309,1}</string>
			<string>{36,1}</string>
		</array>
		<key>lengths</key>
		<array>
			<string>{14,2}</string>
		</array>
		<key>format</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
		</array>
	</dict>
	<key>american-express</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>{34,1}</string>
			<string>{37,1}</string>
		</array>
		<key>lengths</key>
		<array>
			<string>{15,1}</string>
		</array>
		<key>format</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
		</array>
	</dict>
	<key>maestro</key>
	<dict>
		<key>ranges</key>
		<array>
			<string>{50,1}</string>
			<string>{56,14}</string>
		</array>
		<key>lengths</key>
		<array>
			<string>{12,7}</string>
		</array>
		<key>format</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
		</array>
	</dict>
</dict>
</plist>
