version: 2.1

executors:
  my-exectutor:
    shell: /bin/bash --login
    working_directory: ~/hipay/hipay-fullservice-sdk-ios

jobs:
  test:
    environment:
      LANG: en_US.UTF-8
      FASTLANE_WORKSPACE_PATH: Example/HiPayFullservice.xcworkspace
      FASTLANE_PROJECT_SCHEME: HiPayFullservice-Example
      FASTLANE_CERTIFICATES_GIT: git@github.com:hipay/hipay-sdk-ios-certificates.git
      FASTLANE_CERTIFICATES_TYPE: adhoc
      FASTLANE_CERTIFICATES_USERNAME: pi-ecommerce@hipay.com
      FASTLANE_CERTIFICATES_TEAM_ID: 7RLJNKW437
      FASTLANE_INFO_PLIST_PATH: Example/HiPayFullservice/HiPayFullservice-Info.plist
      FASTLANE_TESTS_OUTPUT_TYPES: junit
      APP_IDENTIFIER_BASE: com.hipay.fullservice.demo
    macos:
      xcode: 11.3.0
    steps:
      - checkout
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle update
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - restore_cache:
          key: 1-pods-{{ checksum "Example/Podfile.lock" }}
      - run:
          name: Install CocoaPods
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
            bundle exec pod install --project-directory=Example/
      - save_cache:
          key: 1-pods-{{ checksum "Example/Podfile.lock" }}
          paths:
            - Example/Pods
      - run:
          name: Generate parameters file
          command: python deployment/generate_parameters.py
      - run:
          name: Fastlane
          command: bundle exec fastlane Test --verbose
      - store_test_results:
          path: fastlane/test_output
      - persist_to_workspace:
          root: .
          paths: .

  buildDemo:
    environment:
      FASTLANE_WORKSPACE_PATH: Example/HiPayFullservice.xcworkspace
      FASTLANE_PROJECT_SCHEME: HiPayFullservice-Example
      FASTLANE_CERTIFICATES_TEAM_ID: 7RLJNKW437
      FASTLANE_CERTIFICATES_GIT: git@github.com:hipay/hipay-sdk-ios-certificates.git
      FASTLANE_CERTIFICATES_TYPE: adhoc
      FASTLANE_CERTIFICATES_USERNAME: pi-ecommerce@hipay.com
      APP_IDENTIFIER_BASE: com.hipay.fullservice.demo
    macos:
      xcode: 11.3.0
    steps:
      - attach_workspace:
          at: .
      - add_ssh_keys:
          fingerprints:
            - '38:1e:4c:45:75:d6:16:f0:ff:47:e7:8c:99:7e:49:f6'
      - run:
          name: Install Gems
          command: bundle update
      - run:
          name: Build application
          command: bundle exec fastlane BuildDemo --verbose
      - persist_to_workspace:
          root: .
          paths:
            - HiPay Demo.ipa

  deployDemo:
    macos:
      xcode: 11.3.0
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install Gems
          command: bundle check || bundle install --path vendor/bundle
      - run:
          name: Deploy on AppCenter
          command: bundle exec fastlane DeployDemo --verbose

workflows:
  version: 2
  build:
    jobs:
      - HoldMainPipeline:
          type: approval
      - test:
          requires:
            - HoldMainPipeline
      - HoldDemo:
          type: approval
          requires:
            - test
      - buildDemo:
          requires:
            - HoldDemo
      - deployDemo:
          requires:
            - buildDemo
